
  <h3>הפרטים שלי</h3>
  <table class="table">
    <thead>
      <tr>
        <th>מספר משלם</th>
        <th>מספר נייד</th>
        <th>דוא”ל</th>
        <th>שם מלא</th>
      </tr>
    </thead>
    <tbody *ngIf="user">
      <tr>
        <td>
          <span>{{user.UserName}}</span>
        </td>
        <td>
          <span>
              <app-editable-input #phone [inputValue]="user.Phone" 
              (saveData)="updateUserDetails('phone', $event)">
              </app-editable-input>
          </span>
        </td>
        <td>
          <span>
              <app-editable-input #email [inputValue]="user.Email" 
              (saveData)="updateUserDetails('email', $event)">
              </app-editable-input>
          </span>
         
        </td>
        <td>{{user.FirstName}} {{user.LastName}}</td>
      </tr>
    </tbody>
  </table>




<div *ngIf="isValidEmailMesseg || isValidPhoneMesseg" id="popup" class="overlay">
  <div class="popup">

    <a class="close" (click)="closePopup()">&times;</a>
    <div class="content">
      <div *ngIf="isValidEmailMesseg">
        {{isValidEmailMesseg| lang }}
      </div>
      <div *ngIf="isValidPhoneMesseg">
        {{isValidPhoneMesseg| lang }}
      </div>


      <div class="buttons step-buttons">
        <a href="javascript:void(0)" (click)="closePopup()" id="closePopup" class="btn cancel" name="button">סגור</a>
      </div>


    </div>
  </div>
</div> 