.wrap_table {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 25px rgba(0,0,0,.2);
    padding-bottom: 20px;
    width: 50%;
    float: right;
    margin-bottom: 50px;
}
.title .big{
    font-size: 35px;
}
.title .small{
    font-size: 21px;
    color: #6e6b6b;
}
.wrap_table table.table {
    border-radius: 3px;
    background: #fff;
    width: 96%;
    margin-right: 2%;
    margin-bottom: 40px;
    border-spacing: 0;
    border-collapse: collapse;
}
h3 {
    background: linear-gradient(to right,#dee7ff,#f0f4ff,#f0f4ff);
    margin: 0;
    font-size: 18px;
    height: 40px;
    padding: 9px 25px 9px 0;
    color: #0000c6;
    text-align: right;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}
.table > thead > tr > th {
    padding: 12px 4px !important;
    text-align: right !important;
    border: none !important;
    border-bottom: 1px solid #c1c1c1 !important;
    font-size: 20px !important;
    font-weight: bold;
}
table.table>tbody>tr:last-child>td {
    border-bottom: 1px solid #c1c1c1;
    padding: 12px 4px;
    text-align: right;
    border-radius: 0 0 3px 3px;
    border: none;
    color: #46535e;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
}
i{
    font-size: 18px;
}
@media(max-width : 768px){
    .wrap_table {      
        width: 80%;
    }
}